In [11]:
#import dependicies
import pandas as pd

In [12]:
#EXTRACT
#read raw data csv's
sb_data = "../resources/superbowl.csv"
sb_df = pd.read_csv(sb_data)

odds_data = "../resources/odds.csv"
odds_df = pd.read_csv(odds_data)

In [13]:
#tested dfs by printing heads
#sb_df.head()
#odds_df.head()

#TRANSFORM
#Clean df's to contain only needed information
new_odds_df = odds_df.loc[['schedule_season','team_home','score_home','score_away','team_away', 'spread_favorite', ]]

In [30]:
#TRANSFORM
#Clean df's to contain only needed information
new_odds_df = odds_df.loc[:, ['schedule_season','team_home','score_home','score_away','team_away', 'over_under_line']]
clean_odds_df = new_odds_df.dropna()
clean_odds_df.head()
clean_odds.head()
#sum_odds_df =

,schedule_season,team_home,score_home,score_away,team_away,over_under_line
350,1967,Green Bay Packers,33.0,14.0,Oakland Raiders,43
538,1968,Baltimore Colts,7.0,16.0,New York Jets,40
727,1969,Kansas City Chiefs,23.0,7.0,Minnesota Vikings,39
916,1970,Baltimore Colts,16.0,13.0,Dallas Cowboys,36
1105,1971,Dallas Cowboys,24.0,3.0,Miami Dolphins,34